.card{
    margin-top: 20px;
    padding: 15px;
}
.docs-example-viewer-title {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 8px 20px;
    color: #fff;
}
.docs-example-viewer-title-spacer {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
}
.header{
    background: #ff4081;
}
.layer{
    border: 1px solid;
    border-color: aliceblue;
}